@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif; }

.tituloIndex {
  margin-top: 30vh;
  display: flex;
  justify-content: center; }

.carousel {
  margin-top: 5vh; }
  .carousel .carousel-inner {
    display: flex;
    justify-content: space-around; }
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    margin-left: 20%;
    margin-right: 20%; }

.ingTrabajando {
  margin: 10vh;
  display: grid; }
  .ingTrabajando img {
    height: 20vw; }
  .ingTrabajando p {
    text-align: justify; }
  .ingTrabajando .container .row {
    align-items: center; }
    .ingTrabajando .container .row .col {
      padding: 2vw; }

.h2Clientes,
.tituloCertificaciones {
  display: flex;
  justify-content: center; }

.listaClientes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
  flex-wrap: wrap; }
  .listaClientes img {
    height: 15vh;
    margin: 5vh; }

.certificaciones {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
  flex-wrap: wrap; }
  .certificaciones img {
    height: 15vh; }

.navbar {
  font-size: 1.5em; }
  .navbar .container-fluid .collapse .navbar-nav li:hover {
    background-color: #c7c7c7;
    transition: background-color 1s;
    border-radius: 4px; }

.logoCRER {
  height: 10vw;
  border-radius: 1em; }

.footer .container {
  margin-top: 1vh;
  margin-bottom: 1vh; }
  .footer .container .text-muted a img {
    height: 5vh;
    margin: 2vh; }

img {
  border-radius: 2vw; }

.contacth1 {
  margin-top: 30vh;
  margin-right: 10vh;
  margin-left: 10vh;
  text-align: center; }

form {
  display: flex;
  justify-content: center;
  margin-top: 15vh; }
  form .formulario {
    width: 60%; }
  form .botonForm {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center; }

.h1Nosotros {
  margin-top: 30vh;
  display: flex;
  justify-content: center; }

.misVis {
  margin-top: 15vh;
  margin-bottom: 15vh; }
  .misVis .row {
    display: flex; }
    .misVis .row .col-md h2 {
      text-align: center; }
    .misVis .row .col-md p {
      text-align: justify; }

.background h2 {
  text-align: center;
  margin-bottom: 10vh; }

.background .backgroundQuery {
  display: none; }

.background .container .row .col {
  display: flex;
  align-items: center; }
  .background .container .row .col .grid-item p {
    text-align: justify; }

.sedes h2 {
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 10vh; }

.sedes .container .row .col .grid-item {
  width: 100%; }
  .sedes .container .row .col .grid-item p {
    text-align: center;
    font-size: 1.5em;
    margin: 5vh; }

.h1proyectos {
  margin-top: 30vh;
  text-align: center; }

.listaProyectos {
  margin-bottom: 15vh; }
  .listaProyectos .row {
    width: 100%; }
    .listaProyectos .row .tarjeta .card .card-body p {
      text-align: center; }

.card {
  border: none; }

.h1servicios {
  margin-top: 30vh;
  text-align: center; }

.container {
  margin-top: 10vh;
  margin-bottom: 10vh; }
  .container .row {
    margin: 5vh; }
    .container .row .col {
      display: flex;
      align-items: center; }
      .container .row .col .grid-item h2 {
        text-align: center; }
      .container .row .col .grid-item p {
        text-align: justify; }

.serviciosQuery {
  display: none; }

@media (max-width: 575.98px) {
  .navbar .container-fluid .navbar-brand img {
    height: 7vh; }
  .tituloIndex {
    margin-top: 12vh; }
  .ingTrabajando {
    margin: 3vh; }
    .ingTrabajando .container {
      padding: 0;
      margin-top: 2vh;
      margin-bottom: 0; }
      .ingTrabajando .container .row {
        margin-top: 2vh;
        margin-bottom: 0; }
        .ingTrabajando .container .row .col {
          width: 300px; }
  .listaClientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh; }
    .listaClientes img {
      height: 5vh;
      margin: 3vw; }
  .certificaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh; }
    .certificaciones img {
      height: 5vh;
      margin: 3vw; }
  .ingTrabajando .container .row .col {
    display: flex;
    justify-content: center; }
    .ingTrabajando .container .row .col img {
      height: 12vh; }
  .carousel-inner,
  .carousel-item,
  .carousel img {
    width: 90% !important;
    margin: 0 auto; }
  .h1Nosotros,
  .h1servicios,
  .h1proyectos,
  .contacth1 {
    margin-top: 15vh; }
  .misVis {
    margin-top: 5vh;
    margin-bottom: 2.5vh; }
    .misVis .row {
      margin: 3vh; }
  .background h2 {
    margin-bottom: 2.5vh; }
  .background .container {
    display: none; }
  .background .backgroundQuery {
    display: flex; }
    .background .backgroundQuery .container {
      display: flex;
      flex-direction: column;
      margin: 0; }
      .background .backgroundQuery .container .row {
        margin: 3vh;
        text-align: justify; }
        .background .backgroundQuery .container .row img {
          border-radius: 5vw; }
  .sedes h2 {
    margin-top: 2.5vh;
    margin-bottom: 3vh; }
  .sedes .container {
    margin-top: 0;
    margin-bottom: 3vh; }
    .sedes .container .row {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh; }
      .sedes .container .row .col .grid-item p {
        font-size: 1em;
        margin: 0; }
  .serviciosQuery {
    display: flex;
    flex-direction: column; }
    .serviciosQuery .container {
      display: flex;
      flex-direction: column;
      margin: 0; }
      .serviciosQuery .container .row {
        margin: 3vh;
        text-align: justify; }
        .serviciosQuery .container .row h2 {
          text-align: center; }
        .serviciosQuery .container .row img {
          border-radius: 5vw; }
  .servicios {
    display: none; }
  .listaProyectos {
    margin-bottom: 1vh; }
  form {
    margin-top: 5vh; }
  .contacth1 {
    text-align: center; } }

@media (min-width: 576px) {
  .ingTrabajando {
    margin: 7vh; } }

@media (max-width: 768px) {
  .ingTrabajando .container {
    display: flex;
    flex-direction: column; }
    .ingTrabajando .container .row {
      display: flex;
      flex-direction: column; }
      .ingTrabajando .container .row .col {
        display: flex;
        justify-content: center; } }
