// Aquí iría todo lo del nav y footer
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

.navbar {
  font-size: 1.5em;
}

.logoCRER {
  height: 10vw;
  border-radius: 1em;
}

.footer {
  .container {
    margin-top: 1vh;
    margin-bottom: 1vh;
    .text-muted {
      a {
        img {
          height: 5vh;
          margin: 2vh;
        }
      }
    }
  }
}

img {
  border-radius: 2vw;
}
