@media (max-width: 575.98px) {
  .navbar {
    .container-fluid {
      .navbar-brand {
        img {
          height: 7vh;
        }
      }
    }
  }
  .tituloIndex {
    margin-top: 12vh;
  }
  .ingTrabajando {
    margin: 3vh;
    .container {
      padding: 0;
      margin-top: 2vh;
      margin-bottom: 0;
      .row {
        margin-top: 2vh;
        margin-bottom: 0;
        .col {
          width: 300px;
          p {
          }
        }
      }
    }
  }
  .listaClientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
    img {
      height: 5vh;
      margin: 3vw;
    }
  }
  .certificaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vh;
    img {
      height: 5vh;
      margin: 3vw;
    }
  }
  .ingTrabajando {
    .container {
      .row {
        .col {
          display: flex;
          justify-content: center;
          img {
            height: 12vh;
          }
        }
      }
    }
  }
  .carousel-inner,
  .carousel-item,
  .carousel img {
    width: 90% !important;
    margin: 0 auto;
  }
  .h1Nosotros,
  .h1servicios,
  .h1proyectos,
  .contacth1 {
    margin-top: 15vh;
  }
  .misVis {
    margin-top: 5vh;
    margin-bottom: 2.5vh;
  }
  .background {
    h2 {
      margin-bottom: 2.5vh;
    }
    .container {
      display: none;
    }
    .backgroundQuery {
      display: flex;
      .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        .row {
          margin: 3vh;
          text-align: justify;
          img {
            border-radius: 5vw;
          }
        }
      }
    }
  }
  .sedes {
    h2 {
      margin-top: 2.5vh;
      margin-bottom: 3vh;
    }
    .container {
      margin-top: 0;
      margin-bottom: 3vh;
      .row {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        .col {
          .grid-item {
            p {
              font-size: 1em;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .serviciosQuery {
    display: flex;
    flex-direction: column;
    .container {
      display: flex;
      flex-direction: column;
      margin: 0;
      .row {
        margin: 3vh;
        text-align: justify;
        h2 {
          text-align: center;
        }
        img {
          border-radius: 5vw;
        }
      }
    }
  }

  .servicios {
    display: none;
  }
  .listaProyectos {
    margin-bottom: 1vh;
  }
  form {
    margin-top: 5vh;
  }
  .contacth1 {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .ingTrabajando {
    margin: 7vh;
  }
}

@media (min-width: 768px) {
}
