.h1Nosotros {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

.misVis {
  margin-top: 15vh;
  margin-bottom: 15vh;
  .row {
    display: flex;
    .col-md {
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
  }
}

.background {
  h2 {
    text-align: center;
    margin-bottom: 10vh;
  }
  .backgroundQuery {
    display: none;
  }
  .container {
    .row {
      .col {
        display: flex;
        align-items: center;
        .grid-item {
          img {
          }
          p {
            text-align: justify;
          }
        }
      }
    }
  }
}

.sedes {
  h2 {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  .container {
    .row {
        .col {
            .grid-item {
              width: 100%;
                p {
                    text-align: center;
                    font-size: 1.5em;
                    margin: 5vh;
                }
            }
        }
    }
  }
}
