.h1proyectos {
  margin-top: 30vh;
  text-align: center;
}

.listaProyectos {
  margin-bottom: 15vh;
  .row {
    width: 100%;
    .tarjeta {
      .card {
        .card-body {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.card {
  border: none;
}
